@import "tailwindcss";

:root{
  background-image: linear-gradient(to right, rgb(27, 26, 26), rgb(44, 41, 41), rgb(27, 26, 26));
  /* font-family: "Special Gothic", sans-serif; */
  font-family: "Source Sans Pro";
  height: 100vh;
}

button{
  cursor: pointer;
}

::-webkit-scrollbar{
  width : 6px;
}

::-webkit-scrollbar-thumb{
  background-color: rgb(52, 52, 52);
  border-radius: 10px;
}

::-webkit-scrollbar-track{
    background-color: rgb(163, 162, 162);
}